*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    margin-top: 15px;
}
form {
    position: relative;
    bottom: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    /* text-align: center; */
    /* margin-bottom: 20px; */
    position: relative;
    bottom: 230px;
    left: 180px;
}


label {
    font-weight: bold;
    
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #9c69d6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    left: 80px;
}

button[type="submit"]:hover {
    background-color: #712bc1;
}
