{% load static %}

<!DOCTYPE html>

<html>
<head>
    <title>All Quizzes</title>
    <link rel="stylesheet" href="{% static 'css/view_quiz.css' %}">

</head>
<body>
    
    <div id="quizzes">
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/web3@1.7.0/dist/web3.min.js"></script>
    <script>
        // Connect to the Ethereum network
        if (window.ethereum) {
            window.web3 = new Web3(window.ethereum);
            window.ethereum.enable();
        } else {
            console.error('No Ethereum provider detected. Install MetaMask or another wallet.');
        }

        // Contract ABI and Address
        const contractABI = [
            {
                "constant": true,
                "inputs": [],
                "name": "getAllQuizzes",
                "outputs": [
                    {"name": "", "type": "string[]"},
                    {"name": "", "type": "uint256[]"}
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            }
        ];

        const contractAddress = '0xDcBB5A881394e0F4E5370967Cfd44C479041F2d0'; // Replace with your contract's address
        const contract = new web3.eth.Contract(contractABI, contractAddress);

        async function getAllQuizzes() {
            try {
                const quizzes = await contract.methods.getAllQuizzes().call();
                
                let quizzesHTML = '<h1>Quiz</h1>';
                for (let i = 0; i < quizzes[0].length; i++) {
                    var quizId = quizzes[1][i];
                    var url = "{% url 'upload' quizid=12345 %}".replace('12345', quizId);
                    quizzesHTML += `<div class="quiz"><span>Quiz ID : ${quizId}</span><a href="${url}"><span>Name :</span>${quizzes[0][i]}</a></div>`;
                }
                document.getElementById('quizzes').innerHTML = quizzesHTML;
            } catch (error) {
                console.error("Error fetching quizzes:", error);
            }
        }

        getAllQuizzes();
    </script>
</body>
</html>
